@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Blocks.BlogViewModel>

<div class="articles">
    <div class="heading-articles">
        @UIHelper.RenderText(Html,Model.Title,"p", "m-text uppercase")
        @UIHelper.RenderText(Html,Model.Headline,"h2","heading-secondary xl-text uppercase")
    </div>
    <div class="row">
        @foreach (var item in Model.Articles)
        {
            Html.RenderPartial("~/Views/Partials/Blocks/_Article.cshtml", item);
        }
    </div>
</div>
