@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Blocks.DonateBlockViewModel>
<link rel="stylesheet" href="../index.css" />
<link rel="stylesheet" href="./donate.css" />

<div class="donate-wrapper">
    <div class="bg-yellow donate-content">
        @UIHelper.RenderText(Html,Model.Title, "h3", "l-text bold")
        @UIHelper.RenderText(Html,Model.Text, "p","m-text")
        @*<p class="m-text">
            Tralalalalalalalalal
        </p>*@
        <a href="/donations">
            <button class="bg-orange cl-white">@Model.SeeMoreLink.Name</button>
        </a>
    </div>
    <div class="donate-images">
        @if (Model.images.Any() && Model.images != null)
        {
            foreach (var link in @Model.images)
            {
                <div>
                    <img src=@(link.Url() ?? string.Empty) />
                </div>
            }
        }
    </div>
</div>

