@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Shared.DonateBlockViewModel>
<header class="header">
    <button href="@Model.DonateLink.Url" class="header-btn-donate">@Model.DonateLink.Content</button>
    <div class="header-media-links">
        <span class="bold">Povezite se!</span>
        <a href="@Model.FacebookLink" target="_blank">
            <img src="../assets/facebook.svg" alt="facebook" class="header-media-link" />
        </a>
        <a href="@Model.LinkedinLink" target="_blank">
            <img src="../assets/linkedin.svg" alt="linkedin" class="header-media-link" />
        </a>
    </div>
</header>