@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Blocks.OurStoryViewModel>
<div class="story-box">
    @UIHelper.RenderText(Html,Model.Subtitle,"span", "m-text")
    @UIHelper.RenderText(Html,Model.Title,"h2","xl-text")
    @UIHelper.RenderText(Html,Model.Text.ToHtmlString(),"div","regular-text")

</div>
<div class="story-logo-wrapper">
    @if (Model.Image != null)
    {
        <img src="@Model.Image.Url" />
    }
</div>