@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Blocks.OurStoryViewModel>
<div class="story-box">
    @UIHelper.RenderText(Html,Model.Subtitle,"span", "m-text")
    @UIHelper.RenderText(Html,Model.Title,"h2","xl-text")
    @UIHelper.RenderText(Html,Model.Text.ToHtmlString(),"div","regular-text")

</div>
@if (!Model.Image.Url.IsNullOrWhiteSpace()) {
<div class="story-logo-wrapper">
        <img src="@Model.Image.Url" />
</div>
}