@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Blocks.WhoWeAreBlockViewModel>

<div class="about-wrapper">
    <div class="donate-images">
        @if (Model.Pictures != null)
        {
            foreach (var picture in Model.Pictures)
            {
                <div>
                    <img src="@picture.Url()" />
                </div>
            }
        }

    </div>
    <div class="bg-yellow donate-content">
        @UIHelper.RenderText(Html, Model.Title, "h3", "l-text bold")
        @UIHelper.RenderText(Html, Model.Text.ToHtmlString().StripHtml(),"p", "m-text")
    </div>
</div>