<!--Restore 'act_foundation.backpac' file to local SSMS and enter details to connectionString-->
<connectionStrings>
  <add name="umbracoDbDSN" connectionString="server=localhost\SERVERNAME;database=DBNAME; user id=USERNAME;password='PASSWORD'" providerName="System.Data.SqlClient" />
</connectionStrings>