@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Listing.ListingViewModel<ACTFoundation.Core.ViewModels.Partials.Listing.SearchResultsItemViewModel>>
@if (Model.Items != null && Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        UIHelper.RenderText(Html, item.Title, "h3", "")
        UIHelper.RenderText(Html, item.Summary.ToHtmlString(), "p", "")
        if (!item.Url.IsNullOrWhiteSpace()) {<a href="@item.Url">more...</a>}
        <hr />
    }
}
