<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a1298b0-3db4-4423-9f49-be4b6569a564" Alias="Current projects - Projects - Multinode Treepicker" Level="1">
  <Info>
    <Name>Current projects - Projects - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/8e10b9b8a0954af0b500f7ebcb3aebf9"
  },
  "Filter": "project",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>