<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77a12493-9f2e-4aa4-aa54-2d5a268efb00" Alias="DDL - Button Color" Level="2">
  <Info>
    <Name>DDL - Button Color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "blue"
    },
    {
      "id": 2,
      "value": "green"
    },
    {
      "id": 3,
      "value": "yellow"
    },
    {
      "id": 4,
      "value": "white"
    }
  ]
}]]></Config>
</DataType>