<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4961a9bc-42d6-45fb-8acc-f757ff1b99eb" Alias="DDL - Sitemap Change Frequency" Level="2">
  <Info>
    <Name>DDL - Sitemap Change Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ]
}]]></Config>
</DataType>