<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed34a4ff-f420-4d56-9109-98b5f430d455" Alias="DDL - Sitemap Priority" Level="2">
  <Info>
    <Name>DDL - Sitemap Priority</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "0.0"
    },
    {
      "id": 2,
      "value": "0.1"
    },
    {
      "id": 3,
      "value": "0.2"
    },
    {
      "id": 4,
      "value": "0.3"
    },
    {
      "id": 5,
      "value": "0.4"
    },
    {
      "id": 6,
      "value": "0.5"
    },
    {
      "id": 7,
      "value": "0.6"
    },
    {
      "id": 8,
      "value": "0.7"
    },
    {
      "id": 9,
      "value": "0.8"
    },
    {
      "id": 10,
      "value": "0.9"
    },
    {
      "id": 11,
      "value": "1.0"
    }
  ]
}]]></Config>
</DataType>