<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1776a32-dd6b-41c9-8cf2-1cfb8da836b9" Alias="DDL - Tag Color" Level="2">
  <Info>
    <Name>DDL - Tag Color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "orange"
    },
    {
      "id": 2,
      "value": "green"
    }
  ]
}]]></Config>
</DataType>