<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04b620b5-2a67-47e2-8994-aa3b951b75f8" Alias="Footer - Show Newsletter Box - Toggle" Level="1">
  <Info>
    <Name>Footer - Show Newsletter Box - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>