<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5625a22a-8a58-4633-8141-25dc8ee2e903" Alias="Image Picker" Level="2">
  <Info>
    <Name>Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Media+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>