<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6e019da-5147-4fb5-947f-643d5cf4a1ac" Alias="MNTP-Tags" Level="2">
  <Info>
    <Name>MNTP-Tags</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/e6988f1253c3468bb693584ec6471dd0"
  },
  "Filter": "tagItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>