<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc96aad7-9f92-4ae0-bb5f-489b0082ad6f" Alias="MNTP - News Picker" Level="2">
  <Info>
    <Name>MNTP - News Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "blog",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>