<?xml version="1.0" encoding="utf-8"?>
<DataType Key="379b86dc-c8de-4691-b688-d7735bcf4b04" Alias="MNTP - Volunteers Picker" Level="2">
  <Info>
    <Name>MNTP - Volunteers Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "volunteersShared",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>