<?xml version="1.0" encoding="utf-8"?>
<DataType Key="288e4222-5259-4bf3-ab0e-b997ff8b1e6a" Alias="NC - About Us Content" Level="2">
  <Info>
    <Name>NC - About Us Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "whoWeAreBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "volunteers",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ourStoryBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ourMissionBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>