<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aac8f8d-1730-4480-aaff-cd057c5069c1" Alias="NC - Banner Items" Level="2">
  <Info>
    <Name>NC - Banner Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner Item - {{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>