<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b5adab5-bb34-451e-be48-e94c9f654664" Alias="NC - Button Links" Level="2">
  <Info>
    <Name>NC - Button Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "buttonLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Button"
    }
  ],
  "MinItems": null,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>