<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9250a437-44e0-40d8-a7af-96aa692ab234" Alias="NC - Contact Content" Level="2">
  <Info>
    <Name>NC - Contact Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>