<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a29d2c8-ab9e-41ca-a662-7bde2f4a4c88" Alias="NC - Donate Content" Level="2">
  <Info>
    <Name>NC - Donate Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "donateAccountsBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>