<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e59bf68a-92e1-4693-95bd-6798ae28494d" Alias="NC - Gallery items" Level="2">
  <Info>
    <Name>NC - Gallery items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "galleryItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Item"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>