<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67939630-d2a1-4db5-b32b-505a06421dcf" Alias="NC - Home Content" Level="2">
  <Info>
    <Name>NC - Home Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner Carousel"
    },
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": "BannerDefault"
    },
    {
      "ncAlias": "partnerLogosItem",
      "ncTabAlias": "Content",
      "nameTemplate": "PartnerLogos"
    },
    {
      "ncAlias": "donateBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "testimonials",
      "ncTabAlias": "Content",
      "nameTemplate": "Testimonials"
    },
    {
      "ncAlias": "volunteers",
      "ncTabAlias": "Content",
      "nameTemplate": "Volunteers"
    },
    {
      "ncAlias": "news",
      "ncTabAlias": "Content",
      "nameTemplate": "News"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>