<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5cf2380-2da3-4840-9dee-bbcc3a10adc4" Alias="NC - Project Content" Level="2">
  <Info>
    <Name>NC - Project Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "projectTags",
      "ncTabAlias": "Content",
      "nameTemplate": "Tags"
    },
    {
      "ncAlias": "gallery",
      "ncTabAlias": "Content",
      "nameTemplate": "Gallery"
    },
    {
      "ncAlias": "sidebarItems",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>