<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43d8ad16-7371-4f39-9b1a-7905c95dfe2b" Alias="NC - Projects Content" Level="2">
  <Info>
    <Name>NC - Projects Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "currentProjects",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "donateAccountsBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>