<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4435ed3b-8933-43f6-b829-b00798f66250" Alias="NC - Sidebar items" Level="2">
  <Info>
    <Name>NC - Sidebar items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sidebarItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>