<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11721012-f47c-4ae6-88c6-374c535adfad" Alias="NC - Testimonial items" Level="2">
  <Info>
    <Name>NC - Testimonial items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonialItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>