<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47836bc4-571e-44f1-a879-fcc813b5a598" Alias="NC - Volunteer Items" Level="2">
  <Info>
    <Name>NC - Volunteer Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "volunteerItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>