<?xml version="1.0" encoding="utf-8"?>
<DataType Key="468e17d3-c892-4183-b4cd-46de47f092da" Alias="NC - Volunteer Content" Level="2">
  <Info>
    <Name>NC - Volunteer Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NC</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerDefault",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>