<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3009a5d4-eac9-406e-91dd-17f55691d24c" Alias="Non-negative Numeric" Level="2">
  <Info>
    <Name>Non-negative Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Numerics</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>