<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73e43c9b-326a-47e6-bd75-2e74e83d7359" Alias="Project tags - Selected tags - Multinode Treepicker" Level="1">
  <Info>
    <Name>Project tags - Selected tags - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/e6988f1253c3468bb693584ec6471dd0"
  },
  "Filter": "tagItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>