<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc389baf-a208-4f4b-af7e-b56e3bb48927" Alias="Textstring Multiple" Level="1">
  <Info>
    <Name>Textstring Multiple</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>