<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9bbeb053-ebaf-40d0-a77e-e1760a5c6096" Alias="Url Picker" Level="1">
  <Info>
    <Name>Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>