.volunteers-hero {
  padding: var(--default-spacing);
  padding-bottom: calc(var(--default-spacing) * 3);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 60vh rgba(0, 0, 0, 0.5);
}

.volunteers-hero p {
  width: 70%;
}
.volunteers-hero > * {
  color: var(--color-white);
  margin-bottom: 2rem;
}
.volunteer-card > * {
  margin-bottom: 2rem;
  z-index: 2;
}
.volunteer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 280px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
  width: 250px;
}
.volunteer-card img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  align-self: center;
}
.volunteers {
  display: grid;
  grid-auto-flow: column;
  gap: 4rem;
  padding: 0 var(--default-spacing);
  margin-top: -10rem;
}
.swiper {
  width: 100%;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  display: block !important;
}

@media screen and (min-width:992px){
  .volunteers-hero {
    padding-bottom: calc(var(--default-spacing) * 2);

  }
}