<?xml version="1.0" encoding="utf-8"?>
<Content Key="edd44f7b-5510-4a19-8ede-1093913990f1" Alias="Article 7" Level="3">
  <Info>
    <Parent Key="590fb374-9eac-40cd-8676-5840534744fc">Blog</Parent>
    <Path>/Home/Blog/Article7</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2021-09-25T02:53:14</CreateDate>
    <NodeName Default="Article 7" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee199511-8e3e-48b0-ae43-21f6abc83c17">Article</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <author>
      <Value><![CDATA[Megan Fox]]></Value>
    </author>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <mainImage>
      <Value><![CDATA[umb://media/5871768f2cf94121ae42b64e5746ccab]]></Value>
    </mainImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[umb://document/86d21b68c01045988441b9e5fdb0f1ba,umb://document/d6ff18a0a1dd44a18bc27d69a7b593e2,umb://document/b12608e0e4cf45e883fcf20f0bd196e5,umb://document/3bdadfd80d5941f0b6acd6af83eda7b0,umb://document/7534de7da11d4e0fa28a1f93f116a170]]></Value>
    </tags>
    <text>
      <Value><![CDATA[<p>Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem<br />quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni<br />dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt<br />ut labore et dolore magnam aliquam quaerat voluptatem.</p>]]></Value>
    </text>
    <title>
      <Value><![CDATA[NAZIV CLANKA 7]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>