<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca7598b8-c737-414f-bb82-f3652d89b9d8" Alias="Article" Level="3">
  <Info>
    <Parent Key="590fb374-9eac-40cd-8676-5840534744fc">Blog</Parent>
    <Path>/Home/Blog/Article</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2021-09-25T02:14:14</CreateDate>
    <NodeName Default="Article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee199511-8e3e-48b0-ae43-21f6abc83c17">Article</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <author>
      <Value><![CDATA[Megan Fox]]></Value>
    </author>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <mainImage>
      <Value><![CDATA[umb://media/f755e3abec484e0099e5ad0ee5c6057c]]></Value>
    </mainImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[DONIRAJ!]]></Value>
    </pageTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[umb://document/86d21b68c01045988441b9e5fdb0f1ba,umb://document/d6ff18a0a1dd44a18bc27d69a7b593e2]]></Value>
    </tags>
    <text>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet</p>
<p><img src="" alt="" data-udi="umb://media/954bcc1dbed441729b30a704e607bc3f" /></p>]]></Value>
    </text>
    <title>
      <Value><![CDATA[NAZIV CLANKA]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>