<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce935eb9-f08e-4ae4-959d-12f40eacac02" Alias="Article 4" Level="3">
  <Info>
    <Parent Key="590fb374-9eac-40cd-8676-5840534744fc">Blog</Parent>
    <Path>/Home/Blog/Article4</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2021-09-25T02:52:56</CreateDate>
    <NodeName Default="Article 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee199511-8e3e-48b0-ae43-21f6abc83c17">Article</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <author>
      <Value><![CDATA[Megan Fox]]></Value>
    </author>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <mainImage>
      <Value><![CDATA[umb://media/d23c701051d54db0af9a0b555236f168]]></Value>
    </mainImage>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <tags>
      <Value><![CDATA[umb://document/86d21b68c01045988441b9e5fdb0f1ba]]></Value>
    </tags>
    <text>
      <Value><![CDATA[<p>Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem<br />quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni<br />dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt<br />ut labore et dolore magnam aliquam quaerat voluptatem.</p>]]></Value>
    </text>
    <title>
      <Value><![CDATA[NAZIV CLANKA 4]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>