<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ad3542a-18be-4f69-b94c-fa8a2bcc9dd4" Alias="Donations" Level="2">
  <Info>
    <Parent Key="147aa75e-3bc1-4f38-9ff6-4dba6dbf7d53">Home</Parent>
    <Path>/Home/Donations</Path>
    <Trashed>false</Trashed>
    <ContentType>donate</ContentType>
    <CreateDate>2021-09-24T23:27:28</CreateDate>
    <NodeName Default="Donations" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fc5a8de9-bd33-4840-b9ff-945eb9e09adc">Donate</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <donateContent>
      <Value><![CDATA[[
  {
    "key": "eec3edae-0829-4c27-b92d-c53278260b3a",
    "name": "Banner Default",
    "ncContentTypeAlias": "bannerDefault",
    "title": "DONIRAJ!",
    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis volutpat nulla non molestie. Phasellus et volutpat risus. Aenean euismod facilisis quam a vestibulum. Vivamus egestas tellus est, at convallis nisl mattis vitae. Proin mollis ipsum sit amet tincidunt euismod. Phasellus id turpis nec justo iaculis posuere eget a arcu.",
    "buttonLinks": "",
    "backgroundImage": "umb://media/9c4cd964195b4e51bd7d994fa8206397"
  },
  {
    "key": "bc271659-7678-4a74-8a07-e59989ad1b04",
    "name": "Donate Accounts Block",
    "ncContentTypeAlias": "donateAccountsBlock",
    "title": "DONIRAJ!",
    "description": "Cras porttitor nisi ante, id mollis tortor pellentesque quis. Vivamus enim erat, iaculis nec dignissim eget, lacinia quis nisl. Donec egestas mi in aliquam posuere. Ut placerat tortor non tempus mollis. Aenean pretium metus augue, quis malesuada ante sollicitudin ac. In scelerisque diam sit amet tortor bibendum tempus. Ut consequat quam et purus ullamcorper, eget molestie fe imperdiet viverra massa, in venenatis nulla.",
    "projects": "umb://document/d857a92c007f45ab8ba22f1aeed22bba,umb://document/96d7e4456c7d4a20a4d283487dde9b32,umb://document/ba9ba85607944dda9c4a9a68f75d1bfb,umb://document/c3e89bb126a249d18f157e785c85fd1d,umb://document/e7acb1164614475083dff858db1aff78,umb://document/c07a88c47a7b435194f18cd922c0699b,umb://document/7750d06545be44829b70bdbcf6ededce,umb://document/e99745267de844c690f747e1b30f25b2",
    "ctaText": "Vidi informacije"
  }
]]]></Value>
    </donateContent>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>