<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6ff18a0-a1dd-44a1-8bc2-7d69a7b593e2" Alias="ekologija" Level="3">
  <Info>
    <Parent Key="e6988f12-53c3-468b-b693-584ec6471dd0">Tags</Parent>
    <Path>/Settings/Tags/ekologija</Path>
    <Trashed>false</Trashed>
    <ContentType>tagItem</ContentType>
    <CreateDate>2021-09-24T15:44:43</CreateDate>
    <NodeName Default="ekologija" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagColor>
      <Value><![CDATA[["green"]]]></Value>
    </tagColor>
  </Properties>
</Content>