<?xml version="1.0" encoding="utf-8"?>
<Content Key="86d21b68-c010-4598-8441-b9e5fdb0f1ba" Alias="hrana" Level="3">
  <Info>
    <Parent Key="e6988f12-53c3-468b-b693-584ec6471dd0">Tags</Parent>
    <Path>/Settings/Tags/hrana</Path>
    <Trashed>false</Trashed>
    <ContentType>tagItem</ContentType>
    <CreateDate>2021-09-24T15:43:46</CreateDate>
    <NodeName Default="hrana" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagColor>
      <Value><![CDATA[["orange"]]]></Value>
    </tagColor>
  </Properties>
</Content>