<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bdadfd8-0d59-41f0-b6ac-d6af83eda7b0" Alias="Kategorija 2" Level="3">
  <Info>
    <Parent Key="e6988f12-53c3-468b-b693-584ec6471dd0">Tags</Parent>
    <Path>/Settings/Tags/Kategorija2</Path>
    <Trashed>false</Trashed>
    <ContentType>tagItem</ContentType>
    <CreateDate>2021-09-24T23:58:55</CreateDate>
    <NodeName Default="Kategorija 2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagColor>
      <Value><![CDATA[["green"]]]></Value>
    </tagColor>
  </Properties>
</Content>