<?xml version="1.0" encoding="utf-8"?>
<Content Key="b12608e0-e4cf-45e8-83fc-f20f0bd196e5" Alias="Kategorija 1" Level="3">
  <Info>
    <Parent Key="e6988f12-53c3-468b-b693-584ec6471dd0">Tags</Parent>
    <Path>/Settings/Tags/Kategorija1</Path>
    <Trashed>false</Trashed>
    <ContentType>tagItem</ContentType>
    <CreateDate>2021-09-24T23:58:45</CreateDate>
    <NodeName Default="Kategorija 1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagColor>
      <Value><![CDATA[["orange"]]]></Value>
    </tagColor>
  </Properties>
</Content>