<?xml version="1.0" encoding="utf-8"?>
<Content Key="7534de7d-a11d-4e0f-a28a-1f93f116a170" Alias="Kategorija 3" Level="3">
  <Info>
    <Parent Key="e6988f12-53c3-468b-b693-584ec6471dd0">Tags</Parent>
    <Path>/Settings/Tags/Kategorija3</Path>
    <Trashed>false</Trashed>
    <ContentType>tagItem</ContentType>
    <CreateDate>2021-09-24T23:59:06</CreateDate>
    <NodeName Default="Kategorija 3" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagColor>
      <Value><![CDATA[["orange"]]]></Value>
    </tagColor>
  </Properties>
</Content>