<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e10b9b8-a095-4af0-b500-f7ebcb3aebf9" Alias="Projects" Level="2">
  <Info>
    <Parent Key="147aa75e-3bc1-4f38-9ff6-4dba6dbf7d53">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2021-09-24T15:35:30</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af76a3b8-2450-41cb-a80c-f56f4801b78c">Projects</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectContent>
      <Value><![CDATA[[
  {
    "key": "b982a3b5-07c5-4f4f-a0c2-881dc01c99ae",
    "name": "Banner Default",
    "ncContentTypeAlias": "bannerDefault",
    "title": "PROJEKTI",
    "description": "Nullam id auctor dolor. Suspendisse potenti. Sed eleifend mi vitae ante sodales, vel feugiat elit iaculis. Morbi dictum nisl et sodales suscipit. Mauris et nulla blandit, faucibus neque sed, ullamcorper sem. Curabitur interdum gravida blandit. Ut quis arcu lorem. Sed venenatis sodales ex, et commodo orci tempor nec. Donec hendrerit convallis augue non suscipit. Nam ultrices euismod bibendum. Vestibulum sollicitudin odio eget sapien dignissim, sit amet mollis justo auctor.",
    "buttonLinks": "[\r\n  {\r\n    \"key\": \"d57bacba-5d3a-4152-a48d-664b6367194f\",\r\n    \"name\": \"Button\",\r\n    \"ncContentTypeAlias\": \"buttonLinkItem\",\r\n    \"buttonColor\": \"[]\",\r\n    \"link\": \"[{\\\"name\\\":\\\"VIDI SVE PROJEKTE\\\",\\\"url\\\":\\\"\\\",\\\"queryString\\\":\\\"#projects\\\"}]\"\r\n  }\r\n]",
    "backgroundImage": "umb://media/5871768f2cf94121ae42b64e5746ccab"
  },
  {
    "key": "61e21348-b723-45fc-8dfe-dc5e00263733",
    "name": "Current projects",
    "ncContentTypeAlias": "currentProjects",
    "title": "PROJEKTI",
    "subtitle": "AKTUELNI",
    "projects": "umb://document/d857a92c007f45ab8ba22f1aeed22bba,umb://document/ba9ba85607944dda9c4a9a68f75d1bfb,umb://document/c07a88c47a7b435194f18cd922c0699b"
  },
  {
    "key": "a32bbc5a-aac2-4fcf-99fa-49eb6e2d9a68",
    "name": "Donate Accounts Block",
    "ncContentTypeAlias": "donateAccountsBlock",
    "title": "DONIRAJ!",
    "description": "Odaberi aktuelni projekat za donaciju",
    "projects": "umb://document/d857a92c007f45ab8ba22f1aeed22bba,umb://document/96d7e4456c7d4a20a4d283487dde9b32,umb://document/ba9ba85607944dda9c4a9a68f75d1bfb,umb://document/c3e89bb126a249d18f157e785c85fd1d,umb://document/e7acb1164614475083dff858db1aff78,umb://document/c07a88c47a7b435194f18cd922c0699b,umb://document/7750d06545be44829b70bdbcf6ededce",
    "ctaText": "Vidi informacije"
  }
]]]></Value>
    </projectContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>