<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e972cb9-250d-46f5-85be-9a5e788bdc38" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2021-09-24T15:42:20</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <canonicalDomain>
      <Value><![CDATA[]]></Value>
    </canonicalDomain>
    <cookieScript>
      <Value><![CDATA[]]></Value>
    </cookieScript>
    <googleAnalyticsScriptCode>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsScriptCode>
    <googleTagManagerNonScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerNonScriptCode>
    <googleTagManagerScriptCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerScriptCode>
    <hideAllPagesFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideAllPagesFromSearchEngines>
    <password>
      <Value><![CDATA[dummy password]]></Value>
    </password>
    <receiverEmailAddress>
      <Value><![CDATA[i.gajic+test@vegait.rs]]></Value>
    </receiverEmailAddress>
    <robots>
      <Value><![CDATA[]]></Value>
    </robots>
    <senderEmailAddress>
      <Value><![CDATA[i.gajic+test@vegait.rs]]></Value>
    </senderEmailAddress>
    <siteName>
      <Value><![CDATA[ACT Foundation]]></Value>
    </siteName>
    <sMTPPort>
      <Value><![CDATA[587]]></Value>
    </sMTPPort>
    <sMTPServer>
      <Value><![CDATA[smtp.gmail.com]]></Value>
    </sMTPServer>
  </Properties>
</Content>