<?xml version="1.0" encoding="utf-8"?>
<Content Key="12d91a52-618e-41a8-aea4-956de0b83d11" Alias="Volunteer" Level="2">
  <Info>
    <Parent Key="147aa75e-3bc1-4f38-9ff6-4dba6dbf7d53">Home</Parent>
    <Path>/Home/Volunteer</Path>
    <Trashed>false</Trashed>
    <ContentType>volunteer</ContentType>
    <CreateDate>2021-09-24T15:38:45</CreateDate>
    <NodeName Default="Volunteer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="17285c83-11b0-4c3f-804a-1eeea76243c6">Volunteer</Template>
  </Info>
  <Properties>
    <alternateLanguages>
      <Value><![CDATA[]]></Value>
    </alternateLanguages>
    <canonicalLink>
      <Value><![CDATA[[]]]></Value>
    </canonicalLink>
    <externalRedirect>
      <Value><![CDATA[]]></Value>
    </externalRedirect>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideFromSiteSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSiteSearch>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoKeywords>
      <Value><![CDATA[]]></Value>
    </seoKeywords>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapPriority>
      <Value><![CDATA[]]></Value>
    </sitemapPriority>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <volunteerContent>
      <Value><![CDATA[[
  {
    "key": "d0043e31-1aa3-4350-98bd-96405c5787b7",
    "name": "Banner",
    "ncContentTypeAlias": "bannerDefault",
    "title": "VOLONTIRAJ",
    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ipsum libero. Pellentesque tincidunt, est eu feugiat vestibulum, mauris nulla condimentum diam, sit amet dignissim velit turpis in lorem. Aenean pulvinar risus turpis, ac efficitur sem posuere sit amet. Mauris ex dolor, egestas id vehicula eu, gravida sit amet ante. Proin consequat augue rutrum, semper tellus volutpat, venenatis felis. Phasellus ultricies ante sit amet sodales maximus. Sed dignissim blandit tincidunt. Aliquam eu mauris augue. Mauris sem ante, egestas non mollis blandit, fringilla blandit lorem. Praesent molestie mi vel tellus rhoncus ultricies. Curabitur dignissim maximus nibh aliquam convallis. Etiam mollis leo condimentum dui consectetur, sed egestas magna blandit.",
    "buttonLinks": "[\r\n  {\r\n    \"key\": \"31e5c6a1-849e-4e0c-8a64-aea39bdee83e\",\r\n    \"name\": \"Button\",\r\n    \"ncContentTypeAlias\": \"buttonLinkItem\",\r\n    \"buttonColor\": \"[\\\"green\\\"]\",\r\n    \"link\": \"[{\\\"name\\\":\\\"PRIJAVI SE\\\",\\\"target\\\":\\\"_blank\\\",\\\"url\\\":\\\"https://www.google.com\\\"}]\"\r\n  }\r\n]",
    "backgroundImage": "umb://media/f7ae1a05b0fb4fe5b3fc168fdef1204d"
  }
]]]></Value>
    </volunteerContent>
  </Properties>
</Content>