@inherits UmbracoViewPage<VolunteerViewModel>

@if (Model.VolunteerContent != null)
{
<div class="hero"
     style="
        background: linear-gradient(
            180deg,
            #000000 -33.39%,
            rgba(0, 0, 0, 0.4) 23.71%,
            rgba(0, 0, 0, 0.4) 61.3%,
            #000000 105.39%
          ),
          url('@(Model.VolunteerContent?.BackgroundImage?.Url ?? string.Empty)')
            no-repeat center / cover;
      ">
    @UIHelper.RenderText(Html, Model.VolunteerContent.Title, "h1", "hero-title xl-text bold")
    @UIHelper.RenderText(Html, Model.VolunteerContent.Description, "p", "hero-content regular-text")
    @if (Model.VolunteerContent.ButtonLinks != null && Model.VolunteerContent.ButtonLinks.Any())
    {
        <p class="hero-buttons reagular-text">
            @foreach (var buttonLink in Model.VolunteerContent.ButtonLinks)
            {
                @Html.Partial("~/Views/Partials/NestedContent/_ButtonLinkItem.cshtml", buttonLink);
            }
        </p>
    }
</div>
}
