@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Partials.Items.BannerCarouselItemViewModel>

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h2>
        @Model.Title
    </h2>
}

@foreach (var buttonLink in Model.ButtonLinks)
{
    Html.RenderPartial("~/Views/Partials/NestedContent/_ButtonLinkItem.cshtml", buttonLink);
}
