@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Shared.BannerCarouselViewModel>

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @if(Model.Items.Any() && Model.Items != null) {
            foreach (var item in Model.Items)
            {
                Html.RenderPartial("~/Views/Partials/NestedContent/_BannerDefault.cshtml", item);
            }
        }
    </div>
    <div class="swiper-pagination"></div>
</div>
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
