@inherits UmbracoViewPage<ACTFoundation.Models.Generated.BannerDefault>

@*HTML FOR BANNER DEFAULT*@

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <header class="hero" style="
        background: linear-gradient(
        180deg,
        #000000 -33.39%,
        rgba(0, 0, 0, 0.4) 23.71%,
        rgba(0, 0, 0, 0.4) 61.3%,
        #000000 105.39%
        ),
    url(@Model.BackgroundImage)
      no-repeat center / cover;
  ">
        <h1>@Model.Title!</h1>
        <p>
           @Model.Description
        </p>
    </header>
}

@foreach (var buttonLink in Model.ButtonLinks)
{
    Html.RenderNestedContent(buttonLink);
}
