@inherits UmbracoViewPage<ACTFoundation.Models.Generated.ButtonLinkItem>

@*HTML FOR BANNER DEFAULT*@

@if (!string.IsNullOrWhiteSpace(Model.Link.Url))
{
    <a href="@Model.Link.Url" style="background-color:@Model.ButtonColor">@Model.Link.Name</a>
}
