@inherits UmbracoViewPage<ACTFoundation.Core.ViewModels.Shared.ButtonLinkItemViewModel>

@if (!string.IsNullOrWhiteSpace(Model.Link.Url))
{
    <a href="@Model.Link.Url" class="btn" style="margin: 0 10px;  background-color:@Model.ButtonColor">@(Model.Link.Content ?? string.Empty)</a>
}
