button {
  box-shadow: none;
  border: none;
}

.header {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--color-white);
}

.header-btn-donate {
  background-color: var(--color-yellow);
  font-size: var(--m-text);
  text-transform: uppercase;
  border-radius: 0;
}

.header-media-link {
  height: 1.7rem;
}
.header-media-link:hover {
  cursor: pointer;
}

.header-media-links,
.header-media-links span {
  margin: auto 0;
  line-height: 1.7rem;
  height: 1.7rem;
  align-items: center;
  display: flex;
}

.header-media-links > *,
.header-media-links span {
  margin-right: 2.2rem;
  font-size: var(--regular-text);
}
