<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<meta charset="UTF-8" />

<div class="articles">
  <div class="heading-articles">
    <p class="m-text uppercase">BLOG</p>
    <h2 class="heading-secondary xl-text uppercase">Vesti</h2>
  </div>
  <div class="row">
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-fixed-width btn-load-more uppercase">Učitaj još</a>
</div>
