<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<meta charset="UTF-8" />

<header
  class="hero hero--article"
  style="
    background: linear-gradient(
        180deg,
        #000000 -33.39%,
        rgba(0, 0, 0, 0.4) 23.71%,
        rgba(0, 0, 0, 0.4) 61.3%,
        #000000 105.39%
      ),
      url('https://ichef.bbci.co.uk/news/976/mcs/media/images/75745000/jpg/_75745654_466377933.jpg')
        no-repeat center / cover;
  "
>
  <div class="chips">
    <div class="chip chip--orange">Hrana</div>
    <div class="chip chip--green">Ekologija</div>
    <div class="chips__author">
      <p>by <span>Megan Fox</span><br />20:08 14.08 2021</p>
    </div>
  </div>
</header>

<div class="article-section">
  <div class="article">
    <h1>Naziv Članka</h1>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt.
    </p>
    <p>
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit.
    </p>
    <blockquote>
      Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
      aliquam quaerat voluptatem.
    </blockquote>
    <p>
      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
    </p>
    <img src="https://source.unsplash.com/random/700x300" />
    <p>Photo by: Canon Studio</p>
    <img src="https://source.unsplash.com/random/700x300" />
    <p>Photo by: Canon Studio</p>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam.
    </p>
    <blockquote>
      Eaque ipsa quae ab illo inventore veritatis et quasi.
    </blockquote>
    <p>
      Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
      quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
      magni dolores eos qui ratione voluptatem sequi nesciunt.
    </p>
    <p>
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit, sed quia non numquam eius modi tempora
      incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>
    <p>
      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
    </p>
    <div class="chips article__bottom-chips">
      <div class="chip chip--orange">Hrana</div>
      <div class="chip chip--green">Ekologija</div>
      <div class="chips__author">
        <p>by <span>Megan Fox</span><br />20:08 14.08 2021</p>
      </div>
    </div>
  </div>

  <div class="article-sidebar">
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
    <div class="articles-list-item">
      <div class="article-image">
        <img
          src="https://images.unsplash.com/photo-1629821557058-76ba82e62849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=331&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjUxMjI4OA&ixlib=rb-1.2.1&q=80&w=399"
          alt=""
        />
      </div>
      <div class="article-body">
        <h4 class="m-text">Naziv clanka</h4>
        <p class="regular-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris...
        </p>
        <a class="small-text uppercase" href="#">PROCITAJ VISE</a>
      </div>
    </div>
  </div>
</div>
