<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />

<div class="categories">
  <div class="categories__decor">
    <div class="categories__line"></div>
    <div class="categories__circles">
      <div class="categories__rounded categories__circle--black"></div>
      <div class="categories__rounded categories__circle--blue"></div>
      <div class="categories__rounded categories__circle--yellow"></div>
      <div class="categories__rounded categories__circle--orange"></div>
      <div class="categories__rounded categories__circle--black"></div>
    </div>
    <div class="categories__line"></div>
  </div>
  <div class="categories__container">
    <div
      class="
        categories__rounded categories__category categories__category--active
      "
    >
      sve
    </div>
    <div class="categories__rounded categories__category">kategorija 1</div>
    <div class="categories__rounded categories__category">kategorija 2</div>
    <div class="categories__rounded categories__category">kategorija 3</div>
    <div class="categories__rounded categories__category">kategorija 4</div>
    <div class="categories__rounded categories__category">kategorija 5</div>
    <div class="categories__rounded categories__category">kategorija 6</div>
    <div class="categories__rounded categories__category">kategorija 7</div>
    <div class="categories__rounded categories__category">kategorija 8</div>
    <div class="categories__rounded categories__category">kategorija 9</div>
    <div class="categories__rounded categories__category">kategorija 10</div>
    <div class="categories__rounded categories__category">kategorija 11</div>
    <div class="categories__rounded categories__category">kategorija 12</div>
    <div class="categories__rounded categories__category">kategorija 13</div>
    <div class="categories__rounded categories__category">kategorija 14</div>
    <div class="categories__rounded categories__category">kategorija 15</div>
    <div class="categories__rounded categories__category">kategorija 16</div>
    <div class="categories__rounded categories__category">kategorija 17</div>
    <div class="categories__rounded categories__category">kategorija 18</div>
    <div class="categories__rounded categories__category">kategorija 19</div>
    <div class="categories__rounded categories__category">kategorija 20</div>
    <div class="categories__rounded categories__category">kategorija 21</div>
    <div class="categories__rounded categories__category">kategorija 22</div>
    <div class="categories__rounded categories__category">kategorija 23</div>
  </div>
</div>
