<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<meta charset="UTF-8" />

<header class="header">
  <a class="header-btn-donate btn cl-black">Donirajte</a>
  <div class="header-media-links">
    <span class="bold">Povezite se!</span>
    <a
      href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwiJjfynnZjzAhVpgf0HHe2kBAoQPAgI"
      target="_blank"
      ><img
        src="../assets/facebook.svg"
        alt="facebook"
        class="header-media-link"
    /></a>
    <a
      href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwiJjfynnZjzAhVpgf0HHe2kBAoQPAgI"
      target="_blank"
    >
      <img
        src="../assets/linkedin.svg"
        alt="linkedin"
        class="header-media-link"
    /></a>
  </div>
</header>
