<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<script src="../assets/navigation.js"></script>

<div class="navigation">
  <div class="hamburger">
    <p></p>
    <p></p>
    <p></p>
  </div>
  <nav>
    <img src="../assets/images/main-logo.png" />
    <a href="about.html" class="regular-text cl-white">O NAMA</a>
    <a class="regular-text cl-white">PROJEKTI</a>
    <a class="regular-text cl-white">KONTAKT</a>
    <a class="bg-orange cl-white btn">VOLONTIRAJ</a>
  </nav>
</div>
