<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<meta charset="UTF-8" />

<div class="payment-slip">
  <div class="payment-slip__donate">
    <h2>Doniraj!</h2>
    <p>Odaberi aktuelni projekat za donaciju</p>
    <select name="project" id="project-select">
      <option value="zelenilo">
        Ozelenimo Novi Sad&mdash;Gradsko Zelenilo
      </option>
      <option value="plavetnilo">
        Poplavimo Novi Sad&mdash;Gradsko Plavetnilo
      </option>
      <option value="žutilo">Ožutimo Novi Sad&mdash;Gradsko Žutilo</option>
    </select>
    <a href="https://www.zelenilo.rs/">Vidi informacije</a>
  </div>
  <div class="payment-slip__details">
    <p class="payment-slip__details__label">Primalac:</p>
    <p class="payment-slip__details__value">Gradsko Zelenilo Doo.</p>
    <div class="payment-slip__details__model">
      <div>
        <p class="payment-slip__details__label">Model</p>
        <p class="payment-slip__details__value">26</p>
      </div>
      <div class="payment-slip__reference-number">
        <p class="payment-slip__details__label">Poziv na broj</p>
        <p class="payment-slip__details__value">8832-8832</p>
      </div>
    </div>
    <p class="payment-slip__details__label">Racun:</p>
    <p class="payment-slip__details__value">776 - 777312000000 - 78</p>
  </div>
</div>
