<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />
<meta charset="UTF-8" />

<div class="sidebar-card">
  <p class="bold m-text sidebar-card-title uppercase">Doniraj</p>
  <p class="regular-text sidebar-card-content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus incidunt
    deleniti consequatur non eum facere cupiditate, dolorem minus consequuntur,
    quisquam a maiores, earum quasi cumque quae! Error mollitia laboriosam
    ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Repellendus eius quibusdam inventore dolorum dolores in aliquid atque est,
    placeat labore nihil asperiores impedit doloribus quaerat quis pariatur illo
    accusantium ipsum.
  </p>
  <a class="bold regular-text uppercase cl-white uppercase" href="#"
    >Saznaj vise</a
  >
</div>
