<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../../ACTFoundation.Web/assets/css/style.css" rel="stylesheet" />

<div class="testemonials">
  <p class="testemonials-subtitle m-text">Sta kazu ljudi</p>
  <p class="testemonials-title xl-text bold">Testemoniali</p>
  <p class="testemonials-content m-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et magni
    autem cupiditate dolore suscipit
  </p>
  <div class="testemonials-profiles">
    <div class="testemonial-profile">
      <img
        class="testemonials-profile-img"
        alt="profile-img"
        src="https://static.remove.bg/remove-bg-web/8fb1a6ef22fefc0b0866661b4c9b922515be4ae9/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png"
      />
      <p class="testemonial-profile-description regular-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
        asperiores voluptates!
      </p>
      <p class="testemonial-profile-name m-text">Ime Prezime</p>
    </div>
    <div class="testemonial-profile">
      <img
        class="testemonials-profile-img"
        alt="profile-img"
        src="https://static.remove.bg/remove-bg-web/8fb1a6ef22fefc0b0866661b4c9b922515be4ae9/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png"
      />
      <p class="testemonial-profile-description regular-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
        asperiores voluptates!
      </p>
      <p class="testemonial-profile-name m-text">Ime Prezime</p>
    </div>
    <div class="testemonial-profile">
      <img
        class="testemonials-profile-img"
        alt="profile-img"
        src="https://static.remove.bg/remove-bg-web/8fb1a6ef22fefc0b0866661b4c9b922515be4ae9/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png"
      />
      <p class="testemonial-profile-description regular-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
        asperiores voluptates!
      </p>
      <p class="testemonial-profile-name m-text">Ime Prezime</p>
    </div>
  </div>
</div>
