.footer {
  color: white;
  width: 100%;
  background: url("../assets/bgFooter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-branding {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer-branding-title {
  line-height: 30px;
}

.footer-branding-title-subtext {
  font-size: 9px;
  height: 14px;
}

.footer-logo {
  width: 58px;
  height: 58px;
  margin-right: 12px;
  border-radius: 29px;
}

.footer-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-cta-links {
  display: block;
  text-decoration: none;
  color: white;
}
.footer-left {
  padding: var(--default-spacing);
}

.footer-right {
  padding: var(--default-spacing);
}

.footer-partners-wrapper {
  display: grid;
  margin-bottom: 18px;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
}

.footer-partner {
  width: 195px;
  height: 55px;
  margin-top: 8px;
  object-fit: cover;
}

.footer-cta-more-button {
  margin-top: 40px;
  padding: 13px 45px;
  background: orangered;
  border-radius: 25px;
  display: inline-flex;
}

.footer-partners-title {
  margin-bottom: 6px;
}

.footer-form {
  margin-top: 20px;
  display: flex;
}
.footer-form input {
  flex-grow: 1;
  margin-right: 21px;
}
.footer-form button {
  background-color: var(--color-yellow);
  padding: 13px 45px;
}

.footer-description,
.footer-partners-wrapper {
  margin-top: 40px;
}

.footer-additional-info {
  display: grid;
}

.footer-additional-info .footer-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  margin-right: 11px;
}

.footer-cta-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bd-yellow {
  border: 1px solid var(--color-yellow);
}
.bg-red {
  background-color: tomato;
}
.bd-green {
  border: 1px solid green;
}

@media only screen and (min-width: 1500px) {
  .footer-partners-wrapper {
    grid-template-columns: repeat(3, minmax(195px, 1fr));
  }
}
@media only screen and (min-width: 786px) {
  .footer {
    display: flex;
  }

  .footer-left {
    flex: 1;
    width: 47%;
  }

  .footer-right {
    flex: 1;
    width: 47%;
  }
  .footer-additional-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
