<?xml version="1.0" encoding="utf-8"?>
<Media Key="5871768f-2cf9-4121-ae42-b64e5746ccab" Alias="12 Daniel Can Bc 207" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DanielCanBc207</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-25T13:55:43</CreateDate>
    <NodeName Default="12 Daniel Can Bc 207" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rf1hcwhz/12_daniel_can_bc-207.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>