<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ce5a382-f317-4452-ab67-ab223571fa7d" Alias="1611764272999" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-09-26T05:31:27</CreateDate>
    <NodeName Default="1611764272999" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tkrpk1ax/1611764272999.jfif]]></Value>
    </umbracoFile>
  </Properties>
</Media>