<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c4cd964-195b-4e51-bd7d-994fa8206397" Alias="Aeatunvneik (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aeatunvneik1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-25T18:36:38</CreateDate>
    <NodeName Default="Aeatunvneik (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mlmfzhc1/aeatunvneik.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>