<?xml version="1.0" encoding="utf-8"?>
<Media Key="00c98bdf-6c3c-4394-b963-375e9f9450e2" Alias="Betalogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Betalogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-26T11:54:38</CreateDate>
    <NodeName Default="Betalogo" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1gfnsab2/betalogo.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>