<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb8f3cc9-9907-4ea6-bfa9-ca977da57047" Alias="Logo ACT 1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoACT11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-25T17:24:20</CreateDate>
    <NodeName Default="Logo ACT 1 (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z24i54yh/logo-act-1-1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>