<?xml version="1.0" encoding="utf-8"?>
<Media Key="d23c7010-51d5-4db0-af9a-0b555236f168" Alias="Naslovna O Nama" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NaslovnaONama</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-26T17:21:21</CreateDate>
    <NodeName Default="Naslovna O Nama" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/czydzuwv/naslovna-o-nama.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>