<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd67b946-1dff-4ef6-8ea4-c6f801ee0218" Alias="US Polo Logo PNG 715X715" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/USPoloLogoPNG715X715</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-26T11:55:28</CreateDate>
    <NodeName Default="US Polo Logo PNG 715X715" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ic2hptp5/us-polo-logo-png-715x715.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>