.categories {
  padding: 0 93px;
}

.categories__decor {
  margin: 39px 0;
  display: flex;
  align-items: center;
}

.categories__line {
  background-color: black;
  width: 100%;
  height: 0.5px;
  opacity: 0.37;
}

.categories__circles {
  align-items: center;
  display: flex;
  padding: 0 43px;
}

.categories__rounded {
  border-radius: 9999px;
}

.categories__circle--black {
  width: 7px;
  height: 7px;
  background-color: black;
}

.categories__circle--blue {
  width: 16px;
  height: 16px;
  background-color: var(--color-blue);
  margin-left: 14px;
}

.categories__circle--yellow {
  width: 28px;
  height: 28px;
  background-color: var(--color-yellow);
  margin: 0 2px;
}

.categories__circle--orange {
  width: 16px;
  height: 16px;
  background-color: var(--color-orange);
  margin-right: 14px;
}

.categories__container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
}

.categories__category {
  border: 1px solid black;
  margin: 5px;
  padding: 8px 30px;
  cursor: pointer;
  user-select: none;
}

.categories__category:hover {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: white;
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.categories__category:first {
  margin-left: 0;
}

.categories__category--active {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: white;
}
