<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee59a208-86ab-4fca-9b04-b6ed8ab670cc" Alias="Project.Volunteer.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
&lt;/br&gt; &lt;/br&gt;
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</Translation>
  </Translations>
</Dictionary>