<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b85cf747-c929-48c3-a888-818a5ee32c62" Alias="Project.Donate.Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
&lt;/br&gt;
&lt;/br&gt;
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</Translation>
  </Translations>
</Dictionary>