extends layout

block content
  include ../navigation/navigation.html
  include ../hero/homepage-hero.html
  include ../donate/donate.html
  include ../testemonials/testemonials.html
  include ../volunteers/volunteers.html
  include ../articles/articles.html
