extends layout

block content
  include ../partials/slider.html
  include ../partials/partners.html
  include ../partials/donate.html
  include ../partials/testemonials.html
  include ../partials/volunteers.html
  include ../partials/articles.html
