head
  link(rel='stylesheet' href='../../ACTFoundation.Web/assets/css/style.css')
body
  include ../partials/header.html
  include ../partials/navigation.html
  block content
  include ../partials/footer.html
  include ../partials/header.html
