head
  style
    include ../article/article.css
    include ../articles/articles.css
    include ../categories/categories.css
    include ../contact/contact.css
    include ../donate/donate.css
    include ../footer/footer.css
    include ../header/header.css
    include ../navigation/navigation.css
    include ../payment-slip/payment-slip.css
    include ../slider/slider.css
    include ../testemonials/testemonials.css
    include ../volunteers/volunteers.css
body
  include ../header/header.html
  block content
  include ../footer/footer.html
  include ../header/header.html
