extends layout

block content
  include ../partials/projects-hero.html
  include ../partials/projects.html
  include ../partials/categories.html
  include ../partials/articles.html
  include ../partials/payment-slip.html
