@using ACTFoundation.Core.ViewModels.Blocks
@inherits UmbracoViewPage<LoadNewsViewModel>

<div class="articles">
    <div class="heading-articles">
        @UIHelper.RenderText(Html,Model?.Blog?.Title, "p","m-text uppercase")
        @UIHelper.RenderText(Html, Model?.Blog?.Headline,"h2", "heading-secondary xl-text uppercase")
    </div>
    <div class="row">
        @Html.Partial("~/Views/Partials/News/_GetMoreNews.cshtml", Model.LoadPaginationItems)
    </div>
</div>