<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="194eb745-4144-4065-8322-c448581d69ec" Alias="aboutUs" Level="2">
  <Info>
    <Name>About Us</Name>
    <Icon>icon-umb-members color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="69a0739a-86da-447a-9043-f2340a5ef97e">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a0a08d34-55ef-4b09-b6a0-786e7965ab06</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>288e4222-5259-4bf3-ab0e-b997ff8b1e6a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>