<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66d2e2af-c136-4005-89e4-e69c8e87e27c" Alias="accountInformation" Level="3">
  <Info>
    <Name>Account information</Name>
    <Icon>icon-receipt-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Items</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77489106-aca2-4e37-aba0-b56e34bc50be</Key>
      <Name>Account</Name>
      <Alias>account</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Racun]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Account information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>005becd9-3c64-45a7-bb59-0eda395b11ac</Key>
      <Name>Calling Model</Name>
      <Alias>callingModel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Model]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Account information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4abc29bf-d48c-44ae-8daa-5177acaea027</Key>
      <Name>Call number</Name>
      <Alias>callNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Poziv na broj]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Account information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47180251-ce96-42c1-9b1c-6357d1aacee7</Key>
      <Name>Recepient</Name>
      <Alias>recepient</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Primalac]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Account information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Account information</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>