<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcbc6a69-119e-42d2-bbde-9106335ca0ab" Alias="donate" Level="2">
  <Info>
    <Name>Donate</Name>
    <Icon>icon-coins-dollar-alt color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>Donate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fc5a8de9-bd33-4840-b9ff-945eb9e09adc">Donate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>18340f27-b73a-4ece-8962-b35d28388c73</Key>
      <Name>Donate Content</Name>
      <Alias>donateContent</Alias>
      <Definition>5a29d2c8-ab9e-41ca-a662-7bde2f4a4c88</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>