<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a24c886d-e0e6-4fce-87ce-d615ccf504ee" Alias="error404" Level="2">
  <Info>
    <Name>Error404</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>Error404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4be12100-d65b-4618-b15a-a81ccbf82a18">Error404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>