<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d75679f-0fdf-468f-8897-1bf1a77fd616" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cb1bacf9-9b5d-4693-8f7e-9a4dcfa603a8">footer</Composition>
      <Composition Key="8f21e14b-cd59-42d1-8d65-cb63f15bd0bd">header</Composition>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
      <Composition Key="9abbdb9c-8c69-4455-8856-825bfef8e001">topBottomSocialLinks</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4c8e9367-8206-48de-972a-72628e9dfd3b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a24c886d-e0e6-4fce-87ce-d615ccf504ee" SortOrder="0">error404</ContentType>
    <ContentType Key="8d4df1b8-0f18-47c9-a5ed-b012fad63863" SortOrder="1">projects</ContentType>
    <ContentType Key="69e8a86c-ba6c-4804-8943-622452f2e8ac" SortOrder="2">contact</ContentType>
    <ContentType Key="91d38a99-aaf8-4f2a-8a52-8da95bfed5ef" SortOrder="3">volunteer</ContentType>
    <ContentType Key="dcbc6a69-119e-42d2-bbde-9106335ca0ab" SortOrder="4">donate</ContentType>
    <ContentType Key="0bbfd9e8-1fc3-4581-ad89-103338e2f36d" SortOrder="5">blog</ContentType>
    <ContentType Key="194eb745-4144-4065-8322-c448581d69ec" SortOrder="6">aboutUs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>47d8118f-0806-499d-8069-af6327bf283a</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>67939630-d2a1-4db5-b32b-505a06421dcf</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>