<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d4df1b8-0f18-47c9-a5ed-b012fad63863" Alias="projects" Level="2">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-indent color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>Projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="af76a3b8-2450-41cb-a80c-f56f4801b78c">Projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="baeb7713-3616-46ef-a3b9-b5bb717ef14e" SortOrder="0">project</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>26c9f2dd-3234-4043-a5d0-8d6c71e4f3bf</Key>
      <Name>Project content</Name>
      <Alias>projectContent</Alias>
      <Definition>43d8ad16-7371-4f39-9b1a-7905c95dfe2b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>