<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72a5aab5-f1a6-4e35-ae88-b200c4752b97" Alias="searchResults" Level="2">
  <Info>
    <Name>Search Results</Name>
    <Icon>icon-search color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>SearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ac5213c6-6d25-4142-84be-4a59cf018337">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f086822c-439a-49b1-b59f-017497c4c730</Key>
      <Name>Items Per Page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>3009a5d4-eac9-406e-91dd-17f55691d24c</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Note: Default value is 10.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>