<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="812189a1-0f18-4050-81d7-1ec8eaf9012d" Alias="sidebarItems" Level="3">
  <Info>
    <Name>Sidebar items</Name>
    <Icon>icon-console color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content/Sidebar</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2d78c7e-140f-4bd3-bf2f-122cab5bb9dd</Key>
      <Name>Sidebar items</Name>
      <Alias>sidebarItemList</Alias>
      <Definition>4435ed3b-8933-43f6-b829-b00798f66250</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>