<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91d38a99-aaf8-4f2a-8a52-8da95bfed5ef" Alias="volunteer" Level="2">
  <Info>
    <Name>Volunteer</Name>
    <Icon>icon-people color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4e61f5ad-f496-43af-859b-d896e85a9c4f">page</Composition>
    </Compositions>
    <DefaultTemplate>Volunteer</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17285c83-11b0-4c3f-804a-1eeea76243c6">Volunteer</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a95428c2-a129-4920-ac94-3014bc690777</Key>
      <Name>Volunteer content</Name>
      <Alias>volunteerContent</Alias>
      <Definition>468e17d3-c892-4183-b4cd-46de47f092da</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>