.article {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 36px;
  padding: 94px 78px;
  max-width: 725px;
}

.article h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 126px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.article p {
  margin: 36px 0;
}

.article img {
  display: block;
  width: 700px;
  height: 300px;
  box-shadow: -7px 5px 11px rgba(0, 0, 0, 0.1);
  margin-top: 135px;
}

.article img + p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  opacity: 0.5;
}

.article p + img {
  margin-top: 48px;
}

.article blockquote {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  opacity: 0.5;
}

.article blockquote::before {
  content: "\201C";
}

.article blockquote::after {
  content: "\201D";
}

.article__tags {
  align-items: center;
  display: flex;
  margin-top: 48px;
}

.article__tag--orange {
  background-color: #f15e24;
  border-radius: 9999px;
  color: white;
  font-size: 14px;
  height: fit-content;
  line-height: normal;
  opacity: 0.7;
  padding: 8px 16px;
  text-transform: lowercase;
}

.article__tag--green {
  background-color: #2e8b38;
  border-radius: 9999px;
  color: white;
  font-size: 14px;
  height: fit-content;
  line-height: normal;
  margin-left: 10px;
  opacity: 0.7;
  padding: 8px 16px;
  text-transform: lowercase;
}

.article__author p {
  font-size: 14px;
  line-height: normal;
  margin: 0;
  margin-left: 18px;
}

.article__author p span {
  font-weight: 700;
}
