.article {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 36px;
  padding: 94px 78px;
  max-width: 725px;
}

.article h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 126px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.article p {
  margin: 36px 0;
}

.article img {
  display: block;
  width: 700px;
  height: 300px;
  box-shadow: -7px 5px 11px rgba(0, 0, 0, 0.1);
  margin-top: 135px;
}

.article img + p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  opacity: 0.5;
}

.article p + img {
  margin-top: 48px;
}

.article blockquote {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  opacity: 0.5;
}

.article blockquote::before {
  content: "\201C";
}

.article blockquote::after {
  content: "\201D";
}

.article__bottom-chips {
  margin-top: 48px;
}
